.exp-slider{
    padding: 20px;
    position: fixed;
    top:50vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.exp-slider .exp-slider-midline {
    height: 100%;
    width: 50%;
    border-right: 3px solid grey;
}
.exp-slider .exp-slider-label-left {
    display: block;
    float: left;
    margin-top: 1em;
}
.exp-slider .exp-slider-label-right {
    display: block;
    float: right;
    margin-top: 1em;
}

