<div class="exp-slider">
    <h1>{{ title }}</h1>
    <div class="exp-slider-widget">
        <div class="exp-slider-midline"></div>
        <div class="exp-slider-widget-labels">
            <div class="exp-slider-label-left">{{labelLeft}}</div>
            <div class="exp-slider-label-right">{{labelRight}}</div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="exp-controls">
        <div class="btn-group">
            <button class="btn btn-default pull-right" {{ action "next" }}>Next</button>
        </div>
    </div>
</div>


